POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=multi_agentes
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/multi_agentes
QDRANT_HOST=localhost
QDRANT_PORT=6333
GEMINI_API_KEY=sua_chave_aqui
EXA_API_KEY=sua_chave_aqui
EXA_API_KEY=sua_chave_aqui